{% extends "base.html" %}
{% block content %}
    <main>
        <div>
            <h1>{{todos_detail.get.list}}</h1>
            {{todos_list}}
            <div> 
                <p>
                    <a href="{% url 'update_todolist' todos_detail.get.list.id%}">Edit</a> 
                    <a href="{% url 'delete_todolist' todos_detail.get.list.id%}">Delete</a> 
                </p>
            </div>
            <h2>Tasks</h2> 
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tododetail in todos_detail%}
                        <tr>
                            <td>{{ tododetail }}</td>
                            <td>{{ tododetail.due_date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
